In [1]:
import pandas as pd

df = pd.read_csv("dfTransjakarta.csv")
df1 = pd.read_csv("dfTransjakarta180kRows.csv")

In [2]:
df.head()

,transID,payCardID,payCardBank,payCardName,payCardSex,payCardBirthDate,corridorID,corridorName,direction,tapInStops,...,tapInStopsLon,stopStartSeq,tapInTime,tapOutStops,tapOutStopsName,tapOutStopsLat,tapOutStopsLon,stopEndSeq,tapOutTime,payAmount
0,EIIW227B8L34VB,180062659848800,emoney,Bajragin Usada,M,2008,5,Matraman Baru - Ancol,1.0,P00142,...,106.84402,7,2023-04-03 05:21:44,P00253,Tegalan,-6.203101,106.85715,12.0,2023-04-03 06:00:53,3500.0
1,LGXO740D2N47GZ,4885331907664776,dki,Gandi Widodo,F,1997,6C,Stasiun Tebet - Karet via Patra Kuningan,0.0,B01963P,...,106.83302,13,2023-04-03 05:42:44,B03307P,Sampoerna Strategic,-6.217152,106.81892,21.0,2023-04-03 06:40:01,3500.0
2,DJWR385V2U57TO,4996225095064169,dki,Emong Wastuti,F,1992,R1A,Pantai Maju - Kota,0.0,B00499P,...,106.81435,38,2023-04-03 05:59:06,B04962P,Simpang Kunir Kemukus,-6.133731,106.81475,39.0,2023-04-03 06:50:55,3500.0
3,JTUZ800U7C86EH,639099174703,flazz,Surya Wacana,F,1978,11D,Pulo Gebang - Pulo Gadung 2 via PIK,0.0,B05587P,...,106.93526,23,2023-04-03 05:44:51,B03090P,Raya Penggilingan,-6.183068,106.93194,29.0,2023-04-03 06:28:16,3500.0
4,VMLO535V7F95NJ,570928206772,flazz,Embuh Mardhiyah,M,1982,12,Tanjung Priok - Pluit,0.0,P00239,...,106.88900,5,2023-04-03 06:17:35,P00098,Kali Besar Barat,-6.135355,106.81143,15.0,2023-04-03 06:57:03,3500.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37900 entries, 0 to 37899
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transID           37900 non-null  object
 1   payCardID         37900 non-null  int64
 2   payCardBank       37900 non-null  object
 3   payCardName       37900 non-null  object
 4   payCardSex        37900 non-null  object
 5   payCardBirthDate  37900 non-null  int64
 6   corridorID        36643 non-null  object
 7   corridorName      35970 non-null  object
 8   direction         37900 non-null  float64
 9   tapInStops        36687 non-null  object
 10  tapInStopsName    37900 non-null  object
 11  tapInStopsLat     37900 non-null  float64
 12  tapInStopsLon     37900 non-null  float64
 13  stopStartSeq      37900 non-null  int64
 14  tapInTime         37900 non-null  object
 15  tapOutStops       35611 non-null  object
 16  tapOutStopsName   36556 non-null  object
 17  tapOutStopsLat    36556 non-null  float64
 18  tapOutStopsLon    36556 non-null  float64
 19  stopEndSeq        36556 non-null  float64
 20  tapOutTime        36556 non-null  object
 21  payAmount         36893 non-null  float64
dtypes: float64(7), int64(3), object(12)
memory usage: 6.4+ MB

In [5]:
merged_df = pd.concat([df, df1], ignore_index=True)
merged_df.shape

(227400, 22)

In [6]:
merged_df.head()

,transID,payCardID,payCardBank,payCardName,payCardSex,payCardBirthDate,corridorID,corridorName,direction,tapInStops,...,tapInStopsLon,stopStartSeq,tapInTime,tapOutStops,tapOutStopsName,tapOutStopsLat,tapOutStopsLon,stopEndSeq,tapOutTime,payAmount
0,EIIW227B8L34VB,180062659848800,emoney,Bajragin Usada,M,2008,5,Matraman Baru - Ancol,1.0,P00142,...,106.84402,7,2023-04-03 05:21:44,P00253,Tegalan,-6.203101,106.85715,12.0,2023-04-03 06:00:53,3500.0
1,LGXO740D2N47GZ,4885331907664776,dki,Gandi Widodo,F,1997,6C,Stasiun Tebet - Karet via Patra Kuningan,0.0,B01963P,...,106.83302,13,2023-04-03 05:42:44,B03307P,Sampoerna Strategic,-6.217152,106.81892,21.0,2023-04-03 06:40:01,3500.0
2,DJWR385V2U57TO,4996225095064169,dki,Emong Wastuti,F,1992,R1A,Pantai Maju - Kota,0.0,B00499P,...,106.81435,38,2023-04-03 05:59:06,B04962P,Simpang Kunir Kemukus,-6.133731,106.81475,39.0,2023-04-03 06:50:55,3500.0
3,JTUZ800U7C86EH,639099174703,flazz,Surya Wacana,F,1978,11D,Pulo Gebang - Pulo Gadung 2 via PIK,0.0,B05587P,...,106.93526,23,2023-04-03 05:44:51,B03090P,Raya Penggilingan,-6.183068,106.93194,29.0,2023-04-03 06:28:16,3500.0
4,VMLO535V7F95NJ,570928206772,flazz,Embuh Mardhiyah,M,1982,12,Tanjung Priok - Pluit,0.0,P00239,...,106.88900,5,2023-04-03 06:17:35,P00098,Kali Besar Barat,-6.135355,106.81143,15.0,2023-04-03 06:57:03,3500.0

In [7]:
merged_df.to_csv("merged_dfTransjakarta.csv", index=False)

In [8]:
merged_df.isna().sum()

transID                 0
payCardID               0
payCardBank             0
payCardName             0
payCardSex              0
payCardBirthDate        0
corridorID           8237
corridorName        15458
direction               0
tapInStops           8454
tapInStopsName          0
tapInStopsLat           0
tapInStopsLon           0
stopStartSeq            0
tapInTime               0
tapOutStops         14658
tapOutStopsName      8064
tapOutStopsLat       8064
tapOutStopsLon       8064
stopEndSeq           8064
tapOutTime           8064
payAmount            4725
dtype: int64

In [9]:
missing_data_columns = merged_df.columns[merged_df.isnull().any()].tolist()
merged_df[merged_df[missing_data_columns].isnull().any(axis=1)]

,transID,payCardID,payCardBank,payCardName,payCardSex,payCardBirthDate,corridorID,corridorName,direction,tapInStops,...,tapInStopsLon,stopStartSeq,tapInTime,tapOutStops,tapOutStopsName,tapOutStopsLat,tapOutStopsLon,stopEndSeq,tapOutTime,payAmount
6,HEMW326B9N91TV,213155822653833,emoney,"R. Devi Hariyah, S.T.",M,1974,JAK.18,Kalibata - Kuningan,0.0,B00243P,...,106.851650,25,2023-04-03 06:58:21,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7,XTKE052E5E87LN,3587341902618993,dki,Darmanto Rajasa,F,1991,NaN,NaN,1.0,B03416P,...,106.802210,2,2023-04-03 06:44:24,B00899P,Jln. Baros,-6.311046,106.784000,12.0,2023-04-03 07:11:43,0.0
11,IIEK980X1O23NZ,347204308990092,emoney,R.M. Labuh Laksmiwati,F,1984,M7B,BKN - Blok M,1.0,P00254,...,106.831020,12,2023-04-03 06:22:10,P00129,Mampang Prapatan,-6.242699,106.825720,14.0,2023-04-03 06:50:21,NaN
21,ZJVI960B9I42DA,343851798729291,emoney,Garang Utama,F,1997,JAK.16,Cililitan - Condet,0.0,NaN,...,106.867410,4,2023-04-03 05:08:36,B01393P,Jln. Mesjid Al Mabruk,-6.284350,106.852930,20.0,2023-04-03 05:30:45,0.0
30,TCKQ601Q5O01BC,3589380857722689,dki,drg. Lukman Hidayanto,M,1995,JAK.46,Pasar Minggu - Jagakarsa,1.0,B00001P,...,106.832100,19,2023-04-03 06:14:02,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227379,RYTH133V5Q38WG,4116771178853999,dki,Shania Laksita,M,1985,JAK.112,NaN,1.0,B03152P,...,106.903870,3,2023-04-12 21:09:19,B05777P,TPA As Sholihin,-6.179921,106.906870,10.0,2023-04-12 23:03:36,0.0
227382,JIKW383T9P54DY,3569138285639816,dki,Eja Mansur,F,1966,NaN,NaN,0.0,B03135P,...,106.910190,39,2023-04-11 12:27:20,B00328P,Duren Sawit,-6.233341,106.910060,40.0,2023-04-11 14:17:42,0.0
227383,WYMF331G7S93VT,213154955333461,emoney,"Tgk. Yessi Hardiansyah, M.Ak",M,1971,JAK.117,NaN,1.0,B03221P,...,106.906050,11,2023-04-04 14:57:41,B06902P,Jln. Swasembada Timur 5,-6.124986,106.893289,22.0,2023-04-04 17:22:54,0.0
227386,JBBJ579K8I73YJ,30285728115321,bni,"R.A. Yuni Mayasari, S.Kom",M,1987,JAK.118,Taman Waduk Papanggo - Kota Tua,0.0,B04887P,...,106.812169,36,2023-04-13 12:05:07,NaN,NaN,NaN,NaN,NaN,NaN,0.0
227393,DYOB765N0X83DF,4477892629147428,dki,Alambana Saputra,M,2007,12P,St. LRT Pegangsaan Dua - JIS,0.0,B00166P,...,106.895790,5,2023-04-03 20:38:52,NaN,Jln. Sunter Permai 2,-6.131551,106.862480,14.0,2023-04-03 21:48:16,3500.0

In [10]:
merged_df.dropna(inplace=True)

In [11]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185693 entries, 0 to 227399
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transID           185693 non-null  object
 1   payCardID         185693 non-null  int64
 2   payCardBank       185693 non-null  object
 3   payCardName       185693 non-null  object
 4   payCardSex        185693 non-null  object
 5   payCardBirthDate  185693 non-null  int64
 6   corridorID        185693 non-null  object
 7   corridorName      185693 non-null  object
 8   direction         185693 non-null  float64
 9   tapInStops        185693 non-null  object
 10  tapInStopsName    185693 non-null  object
 11  tapInStopsLat     185693 non-null  float64
 12  tapInStopsLon     185693 non-null  float64
 13  stopStartSeq      185693 non-null  int64
 14  tapInTime         185693 non-null  object
 15  tapOutStops       185693 non-null  object
 16  tapOutStopsName   185693 non-null  object
 17  tapOutStopsLat    185693 non-null  float64
 18  tapOutStopsLon    185693 non-null  float64
 19  stopEndSeq        185693 non-null  float64
 20  tapOutTime        185693 non-null  object
 21  payAmount         185693 non-null  float64
dtypes: float64(7), int64(3), object(12)
memory usage: 32.6+ MB

In [12]:
merged_df['tapInTime'] = pd.to_datetime(merged_df['tapInTime'])
merged_df['tapOutTime'] = pd.to_datetime(merged_df['tapOutTime'])

In [13]:
merged_df.describe()

,payCardID,payCardBirthDate,direction,tapInStopsLat,tapInStopsLon,stopStartSeq,tapInTime,tapOutStopsLat,tapOutStopsLon,stopEndSeq,tapOutTime,payAmount
count,1.856930e+05,185693.000000,185693.000000,185693.000000,185693.000000,185693.000000,185693,185693.000000,185693.000000,185693.000000,185693,185693.000000
mean,3.994253e+17,1990.155310,0.499631,-6.213828,106.841509,13.518350,2023-04-16 07:48:42.770734848,-6.213714,106.841055,21.117382,2023-04-16 09:00:52.126337536,2683.022516
min,6.040368e+10,1946.000000,0.000000,-6.394973,106.614730,0.000000,2023-04-01 05:14:35,-6.394973,106.614730,1.000000,2023-04-01 06:04:48,0.000000
25%,1.800124e+14,1982.000000,0.000000,-6.246264,106.800980,4.000000,2023-04-10 08:49:23,-6.246510,106.800810,11.000000,2023-04-10 09:58:48,0.000000
50%,3.518481e+15,1991.000000,0.000000,-6.213433,106.836790,10.000000,2023-04-16 17:03:53,-6.213275,106.835420,18.000000,2023-04-16 18:19:50,3500.000000
75%,4.677309e+15,2001.000000,1.000000,-6.173818,106.882700,20.000000,2023-04-21 21:49:37,-6.172372,106.882950,29.000000,2023-04-21 23:25:06,3500.000000
max,4.999814e+18,2012.000000,1.000000,-6.089429,107.023950,75.000000,2023-04-30 21:58:17,-6.089429,107.023840,77.000000,2023-04-30 23:49:48,20000.000000
std,1.280903e+18,13.371894,0.500001,0.058664,0.061153,12.214717,NaN,0.059735,0.061871,13.981316,NaN,4156.264771

In [14]:
df_cleaned = merged_df.to_csv("df_cleaned.csv", index=False)

In [15]:
import pandas as pd
df_cleaned = pd.read_csv("df_cleaned.csv")

In [16]:
df_cleaned

,transID,payCardID,payCardBank,payCardName,payCardSex,payCardBirthDate,corridorID,corridorName,direction,tapInStops,...,tapInStopsLon,stopStartSeq,tapInTime,tapOutStops,tapOutStopsName,tapOutStopsLat,tapOutStopsLon,stopEndSeq,tapOutTime,payAmount
0,EIIW227B8L34VB,180062659848800,emoney,Bajragin Usada,M,2008,5,Matraman Baru - Ancol,1.0,P00142,...,106.844020,7,2023-04-03 05:21:44,P00253,Tegalan,-6.203101,106.857150,12.0,2023-04-03 06:00:53,3500.0
1,LGXO740D2N47GZ,4885331907664776,dki,Gandi Widodo,F,1997,6C,Stasiun Tebet - Karet via Patra Kuningan,0.0,B01963P,...,106.833020,13,2023-04-03 05:42:44,B03307P,Sampoerna Strategic,-6.217152,106.818920,21.0,2023-04-03 06:40:01,3500.0
2,DJWR385V2U57TO,4996225095064169,dki,Emong Wastuti,F,1992,R1A,Pantai Maju - Kota,0.0,B00499P,...,106.814350,38,2023-04-03 05:59:06,B04962P,Simpang Kunir Kemukus,-6.133731,106.814750,39.0,2023-04-03 06:50:55,3500.0
3,JTUZ800U7C86EH,639099174703,flazz,Surya Wacana,F,1978,11D,Pulo Gebang - Pulo Gadung 2 via PIK,0.0,B05587P,...,106.935260,23,2023-04-03 05:44:51,B03090P,Raya Penggilingan,-6.183068,106.931940,29.0,2023-04-03 06:28:16,3500.0
4,VMLO535V7F95NJ,570928206772,flazz,Embuh Mardhiyah,M,1982,12,Tanjung Priok - Pluit,0.0,P00239,...,106.889000,5,2023-04-03 06:17:35,P00098,Kali Besar Barat,-6.135355,106.811430,15.0,2023-04-03 06:57:03,3500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185688,AEQP180C2Q77IS,378254320267609,emoney,"R.A. Malika Samosir, S.Kom",M,1998,JAK.43B,Tongtek - Tebet Eco Park (TEP) - Cililitan,1.0,B06271P,...,106.852860,24,2023-04-02 13:00:49,B03318P,Sawo Kecik Raya,-6.224852,106.854890,34.0,2023-04-02 14:54:30,0.0
185689,PJOF006Z8Q63II,5406087682675422,dki,Amalia Gunarto,M,1981,9C,Pinang Ranti - Bundaran Senayan,1.0,P00040,...,106.858140,9,2023-04-04 17:31:55,P00030,Cawang Ciliwung Arah Timur,-6.243012,106.863540,10.0,2023-04-04 18:38:31,3500.0
185690,NTSG621H8U49WW,4674674527076302608,brizzi,R.A. Lintang Wibisono,F,1998,6T,Pasar Minggu - Velbak,1.0,B06746P,...,106.808665,17,2023-04-05 10:37:19,B06750P,Sbr. SDN Cilandak Barat 15,-6.288628,106.806811,19.0,2023-04-05 12:20:28,3500.0
185691,PUNA543S2M10LX,4952762933693,online,Yunita Sitompul,F,1984,2,Pulo Gadung - Monas,1.0,P00005,...,106.888800,12,2023-04-14 13:34:20,P00192,Pulo Gadung 1,-6.183239,106.909070,15.0,2023-04-14 16:05:12,3500.0
185692,NRUZ377L2D82PG,2235668090485688,dki,Omar Rahayu,M,1997,8C,Kebayoran Lama - Tanah Abang,1.0,B02196P,...,106.814530,12,2023-04-29 09:14:32,B05223P,Simprug 1,-6.223678,106.790200,28.0,2023-04-29 11:53:39,3500.0

In [17]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185693 entries, 0 to 185692
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transID           185693 non-null  object
 1   payCardID         185693 non-null  int64
 2   payCardBank       185693 non-null  object
 3   payCardName       185693 non-null  object
 4   payCardSex        185693 non-null  object
 5   payCardBirthDate  185693 non-null  int64
 6   corridorID        185693 non-null  object
 7   corridorName      185693 non-null  object
 8   direction         185693 non-null  float64
 9   tapInStops        185693 non-null  object
 10  tapInStopsName    185693 non-null  object
 11  tapInStopsLat     185693 non-null  float64
 12  tapInStopsLon     185693 non-null  float64
 13  stopStartSeq      185693 non-null  int64
 14  tapInTime         185693 non-null  object
 15  tapOutStops       185693 non-null  object
 16  tapOutStopsName   185693 non-null  object
 17  tapOutStopsLat    185693 non-null  float64
 18  tapOutStopsLon    185693 non-null  float64
 19  stopEndSeq        185693 non-null  float64
 20  tapOutTime        185693 non-null  object
 21  payAmount         185693 non-null  float64
dtypes: float64(7), int64(3), object(12)
memory usage: 31.2+ MB

In [18]:
df_cleaned['tapInTime'] = pd.to_datetime(df_cleaned['tapInTime'])
df_cleaned['tapOutTime'] = pd.to_datetime(df_cleaned['tapOutTime'])
df_cleaned['direction'] = df_cleaned['direction'].astype(int)

In [19]:
# df_cleaned['date'] = df_cleaned['tapInTime'].dt.date
# df_cleaned['tapInHour'] = df_cleaned['tapInTime'].dt.hour
# df_cleaned['tapOutHour'] = df_cleaned['tapOutTime'].dt.hour
# df_cleaned['weekday'] = df_cleaned['tapInTime'].dt.weekday

In [20]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185693 entries, 0 to 185692
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transID           185693 non-null  object
 1   payCardID         185693 non-null  int64
 2   payCardBank       185693 non-null  object
 3   payCardName       185693 non-null  object
 4   payCardSex        185693 non-null  object
 5   payCardBirthDate  185693 non-null  int64
 6   corridorID        185693 non-null  object
 7   corridorName      185693 non-null  object
 8   direction         185693 non-null  int32
 9   tapInStops        185693 non-null  object
 10  tapInStopsName    185693 non-null  object
 11  tapInStopsLat     185693 non-null  float64
 12  tapInStopsLon     185693 non-null  float64
 13  stopStartSeq      185693 non-null  int64
 14  tapInTime         185693 non-null  datetime64[ns]
 15  tapOutStops       185693 non-null  object
 16  tapOutStopsName   185693 non-null  object
 17  tapOutStopsLat    185693 non-null  float64
 18  tapOutStopsLon    185693 non-null  float64
 19  stopEndSeq        185693 non-null  float64
 20  tapOutTime        185693 non-null  datetime64[ns]
 21  payAmount         185693 non-null  float64
dtypes: datetime64[ns](2), float64(6), int32(1), int64(3), object(10)
memory usage: 30.5+ MB

In [21]:
df_cleaned = df_cleaned.to_csv("df_cleaned.csv", index=False)

In [22]:
df_cleaned = pd.read_csv("df_cleaned.csv")

In [23]:
df_cleaned.head()

,transID,payCardID,payCardBank,payCardName,payCardSex,payCardBirthDate,corridorID,corridorName,direction,tapInStops,...,tapInStopsLon,stopStartSeq,tapInTime,tapOutStops,tapOutStopsName,tapOutStopsLat,tapOutStopsLon,stopEndSeq,tapOutTime,payAmount
0,EIIW227B8L34VB,180062659848800,emoney,Bajragin Usada,M,2008,5,Matraman Baru - Ancol,1,P00142,...,106.84402,7,2023-04-03 05:21:44,P00253,Tegalan,-6.203101,106.85715,12.0,2023-04-03 06:00:53,3500.0
1,LGXO740D2N47GZ,4885331907664776,dki,Gandi Widodo,F,1997,6C,Stasiun Tebet - Karet via Patra Kuningan,0,B01963P,...,106.83302,13,2023-04-03 05:42:44,B03307P,Sampoerna Strategic,-6.217152,106.81892,21.0,2023-04-03 06:40:01,3500.0
2,DJWR385V2U57TO,4996225095064169,dki,Emong Wastuti,F,1992,R1A,Pantai Maju - Kota,0,B00499P,...,106.81435,38,2023-04-03 05:59:06,B04962P,Simpang Kunir Kemukus,-6.133731,106.81475,39.0,2023-04-03 06:50:55,3500.0
3,JTUZ800U7C86EH,639099174703,flazz,Surya Wacana,F,1978,11D,Pulo Gebang - Pulo Gadung 2 via PIK,0,B05587P,...,106.93526,23,2023-04-03 05:44:51,B03090P,Raya Penggilingan,-6.183068,106.93194,29.0,2023-04-03 06:28:16,3500.0
4,VMLO535V7F95NJ,570928206772,flazz,Embuh Mardhiyah,M,1982,12,Tanjung Priok - Pluit,0,P00239,...,106.88900,5,2023-04-03 06:17:35,P00098,Kali Besar Barat,-6.135355,106.81143,15.0,2023-04-03 06:57:03,3500.0

In [24]:
df_cleaned.duplicated().sum()

0

In [29]:
import re


with open('df_cleaned.csv', 'r', encoding='utf-8') as f:
    data = f.read()

# Sử dụng regex để tìm các chuỗi trong dấu ngoặc kép và loại bỏ dấu phẩy bên trong
modified_data = re.sub(r'\"(.*?)\"', lambda match: match.group(0).replace(',', ''), data)

with open('df_cleaned_final.csv', 'w', encoding='utf-8') as f:
    f.write(modified_data)

In [32]:
import pandas as pd 
df = pd.read_csv('df_cleaned_final1.csv')

In [35]:
df['tapInTime'] = pd.to_datetime(df['tapInTime'])
df['tapOutTime'] = pd.to_datetime(df['tapOutTime'])
df['direction'] = df['direction'].astype(int)

In [37]:
df.to_csv("df_final.csv", index=False)

In [31]:
import csv
with open('df_cleaned_final.csv', 'r', encoding='utf-8') as infile, open('df_cleaned_final1.csv', 'w', newline='', encoding='utf-8') as outfile:
    reader = csv.reader(infile)
    writer = csv.writer(outfile)

    # Duyệt qua từng hàng
    for row in reader:
        # Loại bỏ dấu nháy kép trong từng cột của hàng
        new_row = [col.replace('"', '') for col in row]
        # Ghi hàng đã xử lý vào file mới
        writer.writerow(new_row)

In [1]:
import pandas as pd
df = pd.read_csv("df_final.csv")
df.head(10)

,transID,payCardID,payCardBank,payCardName,payCardSex,payCardBirthDate,corridorID,corridorName,direction,tapInStops,...,tapInStopsLon,stopStartSeq,tapInTime,tapOutStops,tapOutStopsName,tapOutStopsLat,tapOutStopsLon,stopEndSeq,tapOutTime,payAmount
0,EIIW227B8L34VB,180062659848800,emoney,Bajragin Usada,M,2008,5,Matraman Baru - Ancol,1,P00142,...,106.84402,7,2023-04-03 05:21:44,P00253,Tegalan,-6.203101,106.85715,12.0,2023-04-03 06:00:53,3500.0
1,LGXO740D2N47GZ,4885331907664776,dki,Gandi Widodo,F,1997,6C,Stasiun Tebet - Karet via Patra Kuningan,0,B01963P,...,106.83302,13,2023-04-03 05:42:44,B03307P,Sampoerna Strategic,-6.217152,106.81892,21.0,2023-04-03 06:40:01,3500.0
2,DJWR385V2U57TO,4996225095064169,dki,Emong Wastuti,F,1992,R1A,Pantai Maju - Kota,0,B00499P,...,106.81435,38,2023-04-03 05:59:06,B04962P,Simpang Kunir Kemukus,-6.133731,106.81475,39.0,2023-04-03 06:50:55,3500.0
3,JTUZ800U7C86EH,639099174703,flazz,Surya Wacana,F,1978,11D,Pulo Gebang - Pulo Gadung 2 via PIK,0,B05587P,...,106.93526,23,2023-04-03 05:44:51,B03090P,Raya Penggilingan,-6.183068,106.93194,29.0,2023-04-03 06:28:16,3500.0
4,VMLO535V7F95NJ,570928206772,flazz,Embuh Mardhiyah,M,1982,12,Tanjung Priok - Pluit,0,P00239,...,106.88900,5,2023-04-03 06:17:35,P00098,Kali Besar Barat,-6.135355,106.81143,15.0,2023-04-03 06:57:03,3500.0
5,DDES630K2F80KC,2251412124634980,dki,Tirta Siregar,F,1993,1T,Cibubur - Balai Kota,0,B00127P,...,106.81632,3,2023-04-03 05:08:01,B00694P,Grand Sahid,-6.210975,106.82059,6.0,2023-04-03 05:52:25,20000.0
6,OIHS248V7S72EB,6510013988638519,dki,Cagak Maheswara S.Sos,F,1992,B14,Bekasi Barat - Kuningan,1,B00795P,...,106.83059,1,2023-04-03 06:01:44,B01853P,Kayuringin 2,-6.245948,106.99247,16.0,2023-04-03 06:51:12,20000.0
7,ERXO372B2H63RB,3580401035990896,dki,T. Dadap Pradana M.Ak,M,2004,1Q,Rempoa - Blok M,0,B05781P,...,106.77889,15,2023-04-03 05:57:47,B06578P,Blok M Jalur 3,-6.243426,106.80188,24.0,2023-04-03 06:51:12,3500.0
8,CLWK627W2M22WO,5541851157087967,dki,Oskar Widiastuti S.Farm,F,1997,5M,Kampung Melayu - Tanah Abang via Cikini,1,B05433P,...,106.84205,17,2023-04-03 06:32:28,B02387P,Matraman 4,-6.199782,106.85450,23.0,2023-04-03 07:23:54,3500.0
9,OPLW560U3S06UG,3536759468239783,dki,Shakila Maryadi,F,1988,9A,PGC 2 - Grogol 2,1,P00281,...,106.79998,4,2023-04-03 06:15:04,P00216,Semanggi,-6.221110,106.81354,6.0,2023-04-03 07:08:31,3500.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185693 entries, 0 to 185692
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transID           185693 non-null  object
 1   payCardID         185693 non-null  int64
 2   payCardBank       185693 non-null  object
 3   payCardName       185693 non-null  object
 4   payCardSex        185693 non-null  object
 5   payCardBirthDate  185693 non-null  int64
 6   corridorID        185693 non-null  object
 7   corridorName      185693 non-null  object
 8   direction         185693 non-null  int64
 9   tapInStops        185693 non-null  object
 10  tapInStopsName    185693 non-null  object
 11  tapInStopsLat     185693 non-null  float64
 12  tapInStopsLon     185693 non-null  float64
 13  stopStartSeq      185693 non-null  int64
 14  tapInTime         185693 non-null  object
 15  tapOutStops       185693 non-null  object
 16  tapOutStopsName   185693 non-null  object
 17  tapOutStopsLat    185693 non-null  float64
 18  tapOutStopsLon    185693 non-null  float64
 19  stopEndSeq        185693 non-null  float64
 20  tapOutTime        185693 non-null  object
 21  payAmount         185693 non-null  float64
dtypes: float64(6), int64(4), object(12)
memory usage: 31.2+ MB

In [5]:
unique_tapInStops_count = df['payCardID'].nunique()

# Hiển thị số lượng giá trị duy nhất
print(f"Số lượng giá trị duy nhất trong cột tapInStops: {unique_tapInStops_count}")

Số lượng giá trị duy nhất trong cột tapInStops: 11516

In [4]:
df['transID'].nunique()

185693